In [131]:
%reset -f
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sns
import csv
import re
import gc
import sys, os, random

import matplotlib.pyplot as plt # for plotting

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

os.environ['PYTHONHASHSEED'] = '0'
np.random.seed(37)
random.seed(17)

pd.set_option('display.max_rows',1000)

root = '/Users/schwalmdaniel/github/kaggle/home-credit-default-risk'
#root = 'e:/kaggle/home-credit-default-risk'

train=pd.read_csv(root + "/application_train.csv")
test=pd.read_csv(root + "/application_test.csv")
bureau=pd.read_csv(root + "/bureau.csv")
'''bureau_balance=pd.read_csv(root + "/bureau_balance.csv")
POS_CASH_balance=pd.read_csv(root + "/POS_CASH_balance.csv")
credit_card_balance=pd.read_csv(root + "/credit_card_balance.csv")
previous_application=pd.read_csv(root + "/previous_application.csv")
installments_payments=pd.read_csv(root + "/installments_payments.csv")'''

# have a look at the ds
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [133]:
bureau_credit = pd.DataFrame(bureau[['SK_ID_CURR', 'CREDIT_ACTIVE']])
bureau_overdue = pd.DataFrame(bureau[['SK_ID_CURR', 'CREDIT_DAY_OVERDUE']])
bureau_currency = pd.DataFrame(bureau[['SK_ID_CURR', 'CREDIT_CURRENCY']])
bureau_prolong = pd.DataFrame(bureau[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']])

bureau_credit_active = bureau_credit[bureau_credit['CREDIT_ACTIVE'] == 'Active'].\
    groupby('SK_ID_CURR').CREDIT_ACTIVE.agg(['count']).reset_index()
bureau_credit_closed = bureau_credit[bureau_credit['CREDIT_ACTIVE'] == 'Closed'].\
    groupby('SK_ID_CURR').CREDIT_ACTIVE.agg(['count']).reset_index()
bureau_credit_overdue = bureau_overdue.groupby('SK_ID_CURR').CREDIT_DAY_OVERDUE.agg([
        'min', 
        'max', 
        'mean', 
        'std']).reset_index()
bureau_credit_overdue.fillna(0,inplace=True)
bureau_credit_prolong = bureau_prolong.groupby('SK_ID_CURR').CNT_CREDIT_PROLONG.agg([
        'min', 
        'max', 
        'mean', 
        'std']).reset_index()
bureau_currency_count = bureau_currency.groupby('SK_ID_CURR').CREDIT_CURRENCY.agg(['count']).reset_index()

train=train.merge(bureau_credit_active,on='SK_ID_CURR', how='left')
test=test.merge(bureau_credit_active,on='SK_ID_CURR', how='left')
train.rename(columns={'count': 'bureau_credit_active_count'}, inplace=True)
test.rename(columns={'count': 'bureau_credit_active_count'}, inplace=True)

train=train.merge(bureau_currency_count,on='SK_ID_CURR', how='left')
test=test.merge(bureau_currency_count,on='SK_ID_CURR', how='left')
train.rename(columns={'count': 'bureau_currency_count'}, inplace=True)
test.rename(columns={'count': 'bureau_currency_count'}, inplace=True)

train=train.merge(bureau_credit_closed,on='SK_ID_CURR', how='left')
test=test.merge(bureau_credit_closed,on='SK_ID_CURR', how='left')
train.rename(columns={'count': 'bureau_credit_closed_count'}, inplace=True)
test.rename(columns={'count': 'bureau_credit_closed_count'}, inplace=True)

train=train.merge(bureau_credit_overdue,on='SK_ID_CURR', how='left')
test=test.merge(bureau_credit_overdue,on='SK_ID_CURR', how='left')
train.rename(columns={'min': 'bureau_credit_overdue_min','max': 'bureau_credit_overdue_max',
                      'mean': 'bureau_credit_overdue_mean','std': 'bureau_credit_overdue_std'}, inplace=True)
test.rename(columns={'min': 'bureau_credit_overdue_min','max': 'bureau_credit_overdue_max',
                      'mean': 'bureau_credit_overdue_mean','std': 'bureau_credit_overdue_std'}, inplace=True)

train=train.merge(bureau_credit_prolong,on='SK_ID_CURR', how='left')
test=test.merge(bureau_credit_prolong,on='SK_ID_CURR', how='left')
train.rename(columns={'min': 'bureau_credit_prolong_min','max': 'bureau_credit_prolong_max',
                      'mean': 'bureau_credit_prolong_mean','std': 'bureau_credit_prolong_std'}, inplace=True)
test.rename(columns={'min': 'bureau_credit_prolong_min','max': 'bureau_credit_prolong_max',
                      'mean': 'bureau_credit_prolong_mean','std': 'bureau_credit_prolong_std'}, inplace=True)
train['bureau_credit_overdue_min'].fillna(0,inplace=True)
train['bureau_credit_overdue_max'].fillna(0,inplace=True)
train['bureau_credit_overdue_mean'].fillna(0,inplace=True)
train['bureau_credit_overdue_std'].fillna(0,inplace=True)
train['bureau_credit_prolong_min'].fillna(0,inplace=True)
train['bureau_credit_prolong_max'].fillna(0,inplace=True)
train['bureau_credit_prolong_mean'].fillna(0,inplace=True)
train['bureau_credit_prolong_std'].fillna(0,inplace=True)
train['bureau_credit_active_count'].fillna(0,inplace=True)
train['bureau_credit_closed_count'].fillna(0,inplace=True)
train['bureau_currency_count'].fillna(0,inplace=True)
test['bureau_credit_overdue_min'].fillna(0,inplace=True)
test['bureau_credit_overdue_max'].fillna(0,inplace=True)
test['bureau_credit_overdue_mean'].fillna(0,inplace=True)
test['bureau_credit_overdue_std'].fillna(0,inplace=True)
test['bureau_credit_prolong_min'].fillna(0,inplace=True)
test['bureau_credit_prolong_max'].fillna(0,inplace=True)
test['bureau_credit_prolong_mean'].fillna(0,inplace=True)
test['bureau_credit_prolong_std'].fillna(0,inplace=True)
test['bureau_credit_active_count'].fillna(0,inplace=True)
test['bureau_credit_closed_count'].fillna(0,inplace=True)
test['bureau_currency_count'].fillna(0,inplace=True)

train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,bureau_currency_count,bureau_credit_closed_count,bureau_credit_overdue_min,bureau_credit_overdue_max,bureau_credit_overdue_mean,bureau_credit_overdue_std,bureau_credit_prolong_min,bureau_credit_prolong_max,bureau_credit_prolong_mean,bureau_credit_prolong_std
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,8.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [157]:
bureau_credit_prolong['mean'].value_counts()

0.000000    297015
0.250000       772
0.200000       698
0.166667       696
0.333333       660
0.142857       626
0.125000       598
0.500000       593
0.111111       481
0.100000       420
0.090909       364
0.083333       343
1.000000       328
0.076923       248
0.071429       195
0.066667       148
0.062500       143
0.058824       118
0.400000       108
0.285714       108
0.666667       104
0.055556        98
0.222222        89
0.181818        75
0.052632        59
0.050000        56
0.153846        54
0.047619        53
2.000000        50
0.045455        34
0.133333        32
0.043478        29
0.041667        25
0.428571        25
0.750000        24
0.600000        21
0.375000        21
0.117647        20
0.040000        19
0.105263        16
0.095238        15
0.038462        15
0.035714        15
0.272727        12
0.300000        11
0.037037        11
1.500000        10
0.214286         9
0.230769         8
0.176471         6
3.000000         6
0.555556         5
0.800000         5
0.571429         5
0.086957         5
0.034483         5
0.150000         5
0.833333         5
0.157895         4
0.444444         4
0.625000         4
0.033333         4
0.031250         4
0.074074         4
0.714286         4
0.363636         3
1.333333         3
0.026316         3
0.187500         3
1.666667         2
0.312500         2
0.136364         2
0.307692         2
0.130435         2
0.032258         2
0.030303         2
0.024390         2
4.000000         2
0.080000         2
0.235294         1
0.692308         1
1.200000         1
0.096774         1
0.025000         1
0.277778         1
0.057143         1
0.028571         1
0.210526         1
0.120000         1
0.020833         1
0.029412         1
0.103448         1
0.416667         1
6.000000         1
0.025641         1
0.357143         1
0.018519         1
0.315789         1
0.777778         1
0.010638         1
5.000000         1
0.064516         1
0.069767         1
0.545455         1
0.027027         1
0.148148         1
0.044444         1
1.600000         1
0.454545         1
0.384615         1
0.190476         1
Name: mean, dtype: int64

'''                        .groupby('SK_ID_CURR').CREDIT_ACTIVE.agg(\
[
    lambda x: len(np.unique(x)),
])).reset_index()'''

In [134]:
test.shape

(48744, 132)

In [135]:
train['TARGET'].value_counts()

# it is an unbalanced data, 8.5% of the target is 1, so the baseline is around 92%

0    282686
1     24825
Name: TARGET, dtype: int64

In [136]:
# 'NAME_CONTRACT_TYPE', 2 values, converting to 0/1
train['NAME_CONTRACT_TYPE'] = train['NAME_CONTRACT_TYPE'].apply(lambda x: 0 if x == 'Cash loans' else 1)
test['NAME_CONTRACT_TYPE'] = test['NAME_CONTRACT_TYPE'].apply(lambda x: 0 if x == 'Cash loans' else 1)

In [137]:
# 'CODE_GENDER', drop XNA as only 4 rows, convert the rest to 0/1
train = train[train['CODE_GENDER'] != 'XNA']
train['CODE_GENDER'] = train['CODE_GENDER'].apply(lambda x: 0 if x == 'F' else 1)
test['CODE_GENDER'] = test['CODE_GENDER'].apply(lambda x: 0 if x == 'F' else 1)

In [138]:
# FLAG_OWN_CAR
train['FLAG_OWN_CAR'] = train['FLAG_OWN_CAR'].apply(lambda x: 1 if x == 'Y' else 0)
test['FLAG_OWN_CAR'] = test['FLAG_OWN_CAR'].apply(lambda x: 1 if x == 'Y' else 1)

In [139]:
# FLAG_OWN_REALTY
train['FLAG_OWN_REALTY'] = train['FLAG_OWN_REALTY'].apply(lambda x: 1 if x == 'Y' else 0)
test['FLAG_OWN_REALTY'] = test['FLAG_OWN_REALTY'].apply(lambda x: 1 if x == 'Y' else 1)

In [140]:
# where null it should be dropped or mean or average income/annuity

avgAnnuityRate = (train['AMT_ANNUITY']/train['AMT_CREDIT']).mean()
train['AMT_ANNUITY'].fillna(avgAnnuityRate * train['AMT_CREDIT'],inplace=True)
test['AMT_ANNUITY'].fillna(avgAnnuityRate * train['AMT_CREDIT'],inplace=True)

In [141]:
#  where null mean or average income / goods price
goodsPriceMean = train['AMT_GOODS_PRICE'].mean()
train['AMT_GOODS_PRICE'].fillna(goodsPriceMean,inplace=True)
test['AMT_GOODS_PRICE'].fillna(goodsPriceMean,inplace=True)

In [142]:
#  categorical, dummify, where null either unknown or most frequent
train['NAME_TYPE_SUITE'].fillna('Unaccompanied',inplace=True)
test['NAME_TYPE_SUITE'].fillna('Unaccompanied',inplace=True)

# convert days to years
train['DAYS_BIRTH'] = train['DAYS_BIRTH'] / -365
test['DAYS_BIRTH'] = test['DAYS_BIRTH'] / -365

# numeric
train['REGION_POPULATION_RELATIVE'].hist()

# TODO: negative, numeric
train['DAYS_BIRTH'].hist()

# TODO: negative, numeric
train['DAYS_EMPLOYED'].head()

# TODO: negative, numeric
train['DAYS_REGISTRATION'].head()

# TODO: negative, numeric
train['DAYS_ID_PUBLISH'].head()

In [143]:
# numeric, the older the worse, where null check own car
train['OWN_CAR_AGE'].fillna(100,inplace=True)
test['OWN_CAR_AGE'].fillna(100,inplace=True)
train['OWN_CAR_AGE'] = train['OWN_CAR_AGE'] * -1
test['OWN_CAR_AGE'] = test['OWN_CAR_AGE'] * -1
train['OWN_CAR_AGE'].describe()

count    307507.000000
mean        -70.092882
std          42.238518
min        -100.000000
25%        -100.000000
50%        -100.000000
75%         -15.000000
max          -0.000000
Name: OWN_CAR_AGE, dtype: float64

In [144]:
# numeric, drop where it is null
train = train[train['CNT_FAM_MEMBERS'] > 0]
test = test[test['CNT_FAM_MEMBERS'] > 0]

#train.columns.tolist()
train['INCOME_ANNUITY_RATIO'] = train['AMT_ANNUITY'] / train['AMT_INCOME_TOTAL']
test['INCOME_ANNUITY_RATIO'] = test['AMT_ANNUITY'] / test['AMT_INCOME_TOTAL']

train['INCOME_CREDIT_RATIO'] = train['AMT_CREDIT'] / train['AMT_INCOME_TOTAL']
test['INCOME_CREDIT_RATIO'] = test['AMT_CREDIT'] / test['AMT_INCOME_TOTAL']

train['INCOME_PER_CAPITA'] = train['AMT_INCOME_TOTAL'] / train['CNT_FAM_MEMBERS']
test['INCOME_PER_CAPITA'] = test['AMT_INCOME_TOTAL'] / test['CNT_FAM_MEMBERS']

In [145]:
# fill null with mean for _1, _2, _3
'''mean1 = train['EXT_SOURCE_1'].mean()
mean2 = train['EXT_SOURCE_2'].mean()
mean3 = train['EXT_SOURCE_3'].mean()
train['EXT_SOURCE_1'].fillna(mean1,inplace=True)
train['EXT_SOURCE_2'].fillna(mean2,inplace=True)
train['EXT_SOURCE_3'].fillna(mean3,inplace=True)
test['EXT_SOURCE_1'].fillna(mean1,inplace=True)
test['EXT_SOURCE_2'].fillna(mean2,inplace=True)
test['EXT_SOURCE_3'].fillna(mean3,inplace=True)'''
train['EXT_SOURCE_1'].fillna(0,inplace=True)
train['EXT_SOURCE_2'].fillna(0,inplace=True)
train['EXT_SOURCE_3'].fillna(0,inplace=True)
test['EXT_SOURCE_1'].fillna(0,inplace=True)
test['EXT_SOURCE_2'].fillna(0,inplace=True)
test['EXT_SOURCE_3'].fillna(0,inplace=True)

In [146]:
# fill with mean all _AVG, _MEDI, _MODE
for col in train.columns.tolist():
    if (col.endswith('_AVG') or col.endswith('_MEDI') or col.endswith('_MODE')) and col not in ['FONDKAPREMONT_MODE','HOUSETYPE_MODE',
                    'WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE']: 
        #print (col)
        mean = train[col].mean()
        train[col].fillna(mean,inplace=True)
        test[col].fillna(mean,inplace=True)

In [147]:
# EMERGENCYSTATE_MODE
train['EMERGENCYSTATE_MODE'] = train['EMERGENCYSTATE_MODE'].apply(lambda x: 1 if x == 'Y' else 0)
test['EMERGENCYSTATE_MODE'] = test['EMERGENCYSTATE_MODE'].apply(lambda x: 1 if x == 'Y' else 1)

In [148]:
#  Fill none with mean or median for all circle
for col in train.columns.tolist():
    if col.endswith('_CIRCLE'):
        mean = train[col].mean()
        train[col].fillna(mean,inplace=True)
        test[col].fillna(mean,inplace=True)

In [149]:
# negative numeric, drop where it is null
train['DAYS_LAST_PHONE_CHANGE'].fillna(0,inplace=True)
test['DAYS_LAST_PHONE_CHANGE'].fillna(0,inplace=True)

In [150]:
# all amt_credit req, maybe bin it
train['AMT_REQ_CREDIT_BUREAU_YEAR'].mean()

for col in train.columns.tolist():
    if 'AMT_REQ_CREDIT_BUREAU_' in col:
        #print (col)
        mean = train[col].mean()
        train[col].fillna(mean,inplace=True)
        test[col].fillna(mean,inplace=True)

In [151]:
gc.collect()

0

train.isnull().sum()

In [152]:
train_objs_num = len(train)
dataset = pd.concat(objs=[train, test], axis=0)
dataset = pd.get_dummies(dataset, 
    columns = ['NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE',
            'OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','FONDKAPREMONT_MODE',
            'HOUSETYPE_MODE','WALLSMATERIAL_MODE'],prefix_sep='__')
train = dataset[:train_objs_num]
test = dataset[train_objs_num:]
train.shape

(307505, 250)

correlations = train.corr()['TARGET'].sort_values()
correlations

train['FLAG_CONT_MOBILE'].value_counts()

In [153]:
from sklearn.model_selection import train_test_split

X = train.drop(['SK_ID_CURR','TARGET'], axis=1)
y = train['TARGET']
X_test = test.drop(['SK_ID_CURR','TARGET'], axis=1)

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X.isnull().sum()

In [154]:
import lightgbm as lgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_auc_score, accuracy_score
from sklearn.model_selection import KFold, RepeatedKFold

import gc
import csv

cnt = 0
p_buf = []
n_splits = 2
n_repeats = 1
kf = RepeatedKFold(
    n_splits=n_splits, 
    n_repeats=n_repeats, 
    random_state=0)
auc_buf = []   

params = {
        'boosting_type': 'gbdt',
        'objective': 'binary',
        'metric': 'auc',
        'max_depth': 12,
        'num_leaves': 31,
        'learning_rate': 0.025,
        'feature_fraction': 0.85,
        'bagging_fraction': 0.85,
        'bagging_freq': 5,
        'verbose': 0,
        'num_threads': 8,
        'lambda_l2': 1.5,
        'min_gain_to_split': 0,
    }  

for train_index, valid_index in kf.split(X):
    print('Fold {}/{}'.format(cnt + 1, n_splits))
    
    model = lgb.train(
        params,
        lgb.Dataset(X.loc[train_index], y.loc[train_index], feature_name=X.columns.tolist()),
        num_boost_round=10000,
        valid_sets=[lgb.Dataset(X.loc[valid_index], y.loc[valid_index])],
        early_stopping_rounds=100,
        verbose_eval=100,
    )

    if cnt == 0:
        importance = model.feature_importance()
        model_fnames = model.feature_name()
        tuples = sorted(zip(model_fnames, importance), key=lambda x: x[1])[::-1]
        tuples = [x for x in tuples if x[1] > 0]
        print('Important features:')
        print(tuples[:200])

    p = model.predict(X.loc[valid_index], num_iteration=model.best_iteration)
    #auc = roc_auc_score(y.loc[valid_index], p)

    #print('{} AUC: {}'.format(cnt, auc))

    p = model.predict(X_test, num_iteration=model.best_iteration)
    if len(p_buf) == 0:
        p_buf = np.array(p)
    else:
        p_buf += np.array(p)
    #auc_buf.append(auc)

    cnt += 1
    if cnt > 0: # Comment this to run several folds
        break
    
    del model
    gc.collect

#auc_mean = np.mean(auc_buf)
#auc_std = np.std(auc_buf)
#print('AUC = {:.6f} +/- {:.6f}'.format(auc_mean, auc_std))

preds = p_buf/cnt

subm = pd.DataFrame()
subm['SK_ID_CURR'] = test['SK_ID_CURR']
subm['TARGET'] = preds
subm.to_csv('home-default-risk_lgbm.csv', index=False,quoting=csv.QUOTE_NONNUMERIC)
subm.head()

Fold 1/2

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:40: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:42: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

Training until validation scores don't improve for 100 rounds.
[100]	valid_0's auc: 0.736084
[200]	valid_0's auc: 0.748885
[300]	valid_0's auc: 0.754809
[400]	valid_0's auc: 0.757104
[500]	valid_0's auc: 0.758057
[600]	valid_0's auc: 0.758399
[700]	valid_0's auc: 0.758594
[800]	valid_0's auc: 0.758941
[900]	valid_0's auc: 0.758886
Early stopping, best iteration is:
[855]	valid_0's auc: 0.758982
Important features:
[('EXT_SOURCE_2', 1579), ('EXT_SOURCE_3', 1528), ('DAYS_BIRTH', 1385), ('EXT_SOURCE_1', 1245), ('AMT_ANNUITY', 1110), ('AMT_CREDIT', 1107), ('DAYS_ID_PUBLISH', 987), ('DAYS_EMPLOYED', 969), ('DAYS_LAST_PHONE_CHANGE', 942), ('DAYS_REGISTRATION', 826), ('AMT_GOODS_PRICE', 823), ('AMT_INCOME_TOTAL', 651), ('REGION_POPULATION_RELATIVE', 592), ('bureau_credit_active_count', 567), ('bureau_credit_closed_count', 389), ('OWN_CAR_AGE', 376), ('HOUR_APPR_PROCESS_START', 357), ('CODE_GENDER', 290), ('AMT_REQ_CREDIT_BUREAU_YEAR', 270), ('bureau_currency_count', 253), ('TOTALAREA_MODE', 230), ('YEARS_BEGINEXPLUATATION_MODE', 214), ('BASEMENTAREA_MODE', 209), ('LANDAREA_AVG', 205), ('LANDAREA_MODE', 179), ('YEARS_BEGINEXPLUATATION_AVG', 177), ('BASEMENTAREA_AVG', 176), ('COMMONAREA_AVG', 175), ('LIVINGAREA_MODE', 168), ('NAME_EDUCATION_TYPE__Higher_education', 163), ('FLAG_DOCUMENT_3', 162), ('NONLIVINGAREA_MODE', 161), ('AMT_REQ_CREDIT_BUREAU_QRT', 160), ('NONLIVINGAREA_AVG', 156), ('COMMONAREA_MODE', 155), ('OBS_30_CNT_SOCIAL_CIRCLE', 154), ('APARTMENTS_MODE', 153), ('DEF_30_CNT_SOCIAL_CIRCLE', 148), ('OBS_60_CNT_SOCIAL_CIRCLE', 146), ('NAME_FAMILY_STATUS__Married', 140), ('YEARS_BUILD_AVG', 140), ('LANDAREA_MEDI', 140), ('YEARS_BEGINEXPLUATATION_MEDI', 136), ('BASEMENTAREA_MEDI', 134), ('NONLIVINGAREA_MEDI', 129), ('LIVINGAREA_AVG', 126), ('APARTMENTS_AVG', 122), ('FLAG_WORK_PHONE', 121), ('REGION_RATING_CLIENT_W_CITY', 118), ('LIVINGAREA_MEDI', 117), ('YEARS_BUILD_MODE', 115), ('NAME_CONTRACT_TYPE', 111), ('APARTMENTS_MEDI', 109), ('LIVINGAPARTMENTS_MODE', 107), ('COMMONAREA_MEDI', 96), ('ENTRANCES_AVG', 91), ('ORGANIZATION_TYPE__Self-employed', 86), ('REG_CITY_NOT_LIVE_CITY', 86), ('NAME_EDUCATION_TYPE__Secondary_/_secondary_special', 85), ('NAME_INCOME_TYPE__Working', 85), ('CNT_CHILDREN', 83), ('DEF_60_CNT_SOCIAL_CIRCLE', 82), ('ORGANIZATION_TYPE__Business_Entity_Type_3', 80), ('CNT_FAM_MEMBERS', 78), ('ORGANIZATION_TYPE__Construction', 76), ('LIVINGAPARTMENTS_AVG', 76), ('FLOORSMIN_AVG', 76), ('FLOORSMAX_AVG', 76), ('OCCUPATION_TYPE__Laborers', 75), ('FLAG_PHONE', 73), ('FLAG_OWN_CAR', 72), ('NONLIVINGAPARTMENTS_AVG', 65), ('AMT_REQ_CREDIT_BUREAU_MON', 63), ('YEARS_BUILD_MEDI', 62), ('FLAG_OWN_REALTY', 62), ('OCCUPATION_TYPE__Drivers', 61), ('LIVINGAPARTMENTS_MEDI', 59), ('ENTRANCES_MEDI', 54), ('ELEVATORS_AVG', 53), ('WEEKDAY_APPR_PROCESS_START__TUESDAY', 52), ('NONLIVINGAPARTMENTS_MEDI', 51), ('NAME_FAMILY_STATUS__Civil_marriage', 50), ('WEEKDAY_APPR_PROCESS_START__SATURDAY', 49), ('NAME_EDUCATION_TYPE__Lower_secondary', 49), ('REGION_RATING_CLIENT', 49), ('ENTRANCES_MODE', 46), ('ORGANIZATION_TYPE__Industry:_type_9', 44), ('WEEKDAY_APPR_PROCESS_START__WEDNESDAY', 43), ('NAME_HOUSING_TYPE__Municipal_apartment', 43), ('FLAG_DOCUMENT_16', 42), ('WEEKDAY_APPR_PROCESS_START__MONDAY', 41), ('OCCUPATION_TYPE__Core_staff', 41), ('NAME_FAMILY_STATUS__Single_/_not_married', 41), ('WEEKDAY_APPR_PROCESS_START__THURSDAY', 39), ('FLAG_DOCUMENT_18', 39), ('WALLSMATERIAL_MODE__Stone,_brick', 38), ('bureau_credit_overdue_mean', 37), ('OCCUPATION_TYPE__Sales_staff', 36), ('FLOORSMIN_MODE', 36), ('FLOORSMIN_MEDI', 36), ('ORGANIZATION_TYPE__School', 35), ('WALLSMATERIAL_MODE__Panel', 34), ('REG_CITY_NOT_WORK_CITY', 34), ('FLOORSMAX_MODE', 34), ('ELEVATORS_MODE', 33), ('AMT_REQ_CREDIT_BUREAU_WEEK', 33), ('bureau_credit_prolong_std', 32), ('bureau_credit_overdue_std', 32), ('NONLIVINGAPARTMENTS_MODE', 32), ('FLOORSMAX_MEDI', 32), ('NAME_HOUSING_TYPE__House_/_apartment', 31), ('bureau_credit_prolong_mean', 29), ('WALLSMATERIAL_MODE__Block', 27), ('ORGANIZATION_TYPE__Military', 27), ('WEEKDAY_APPR_PROCESS_START__SUNDAY', 27), ('WEEKDAY_APPR_PROCESS_START__FRIDAY', 27), ('OCCUPATION_TYPE__High_skill_tech_staff', 27), ('NAME_TYPE_SUITE__Unaccompanied', 27), ('bureau_credit_overdue_max', 27), ('ELEVATORS_MEDI', 27), ('ORGANIZATION_TYPE__Police', 26), ('ORGANIZATION_TYPE__Bank', 26), ('ORGANIZATION_TYPE__Industry:_type_12', 25), ('ORGANIZATION_TYPE__Transport:_type_3', 24), ('NAME_TYPE_SUITE__Family', 24), ('NAME_HOUSING_TYPE__Rented_apartment', 22), ('FONDKAPREMONT_MODE__reg_oper_account', 21), ('ORGANIZATION_TYPE__Industry:_type_5', 21), ('NAME_EDUCATION_TYPE__Academic_degree', 21), ('HOUSETYPE_MODE__block_of_flats', 20), ('ORGANIZATION_TYPE__Legal_Services', 20), ('LIVE_CITY_NOT_WORK_CITY', 20), ('NAME_HOUSING_TYPE__With_parents', 19), ('NAME_FAMILY_STATUS__Separated', 19), ('NAME_INCOME_TYPE__Commercial_associate', 19), ('OCCUPATION_TYPE__Managers', 18), ('ORGANIZATION_TYPE__Realtor', 17), ('ORGANIZATION_TYPE__Business_Entity_Type_2', 17), ('bureau_credit_prolong_max', 17), ('NAME_TYPE_SUITE__Children', 16), ('AMT_REQ_CREDIT_BUREAU_DAY', 16), ('FONDKAPREMONT_MODE__reg_oper_spec_account', 15), ('OCCUPATION_TYPE__Accountants', 15), ('REG_REGION_NOT_LIVE_REGION', 15), ('FLAG_DOCUMENT_13', 15), ('ORGANIZATION_TYPE__Transport:_type_4', 14), ('ORGANIZATION_TYPE__Security_Ministries', 14), ('REG_REGION_NOT_WORK_REGION', 14), ('FLAG_DOCUMENT_8', 14), ('ORGANIZATION_TYPE__Medicine', 13), ('WALLSMATERIAL_MODE__Monolithic', 12), ('HOUSETYPE_MODE__specific_housing', 12), ('ORGANIZATION_TYPE__Government', 12), ('NAME_TYPE_SUITE__Spouse,_partner', 12), ('FLAG_DOCUMENT_21', 12), ('AMT_REQ_CREDIT_BUREAU_HOUR', 12), ('ORGANIZATION_TYPE__Industry:_type_3', 11), ('FLAG_DOCUMENT_14', 11), ('FONDKAPREMONT_MODE__org_spec_account', 10), ('OCCUPATION_TYPE__IT_staff', 10), ('NAME_HOUSING_TYPE__Office_apartment', 10), ('LIVE_REGION_NOT_WORK_REGION', 10), ('FLAG_DOCUMENT_6', 10), ('ORGANIZATION_TYPE__Trade:_type_2', 9), ('OCCUPATION_TYPE__Low-skill_Laborers', 9), ('NAME_INCOME_TYPE__State_servant', 9), ('ORGANIZATION_TYPE__Other', 8), ('ORGANIZATION_TYPE__Housing', 8), ('NAME_FAMILY_STATUS__Widow', 8), ('NAME_EDUCATION_TYPE__Incomplete_higher', 8), ('NAME_INCOME_TYPE__Pensioner', 8), ('FLAG_DOCUMENT_15', 8), ('ORGANIZATION_TYPE__Kindergarten', 7), ('NAME_TYPE_SUITE__Other_B', 7), ('ORGANIZATION_TYPE__Trade:_type_3', 6), ('ORGANIZATION_TYPE__Postal', 6), ('FLAG_EMAIL', 6), ('WALLSMATERIAL_MODE__Wooden', 5), ('OCCUPATION_TYPE__Medicine_staff', 5), ('OCCUPATION_TYPE__Cleaning_staff', 5), ('ORGANIZATION_TYPE__Telecom', 4), ('ORGANIZATION_TYPE__Security', 4), ('ORGANIZATION_TYPE__Restaurant', 4), ('OCCUPATION_TYPE__Waiters/barmen_staff', 4), ('OCCUPATION_TYPE__Security_staff', 4), ('NAME_TYPE_SUITE__Other_A', 4), ('FLAG_EMP_PHONE', 4), ('ORGANIZATION_TYPE__Transport:_type_2', 3), ('ORGANIZATION_TYPE__Services', 3), ('ORGANIZATION_TYPE__Business_Entity_Type_1', 3), ('OCCUPATION_TYPE__Cooking_staff', 3), ('FLAG_DOCUMENT_5', 3), ('WALLSMATERIAL_MODE__Others', 2), ('HOUSETYPE_MODE__terraced_house', 2), ('FONDKAPREMONT_MODE__not_specified', 2), ('ORGANIZATION_TYPE__Transport:_type_1', 2), ('ORGANIZATION_TYPE__Industry:_type_7', 2), ('ORGANIZATION_TYPE__Industry:_type_2', 2), ('ORGANIZATION_TYPE__Hotel', 2), ('ORGANIZATION_TYPE__University', 1)]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:55: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

   SK_ID_CURR    TARGET
0      100001  0.030024
1      100005  0.105644
2      100013  0.027662
3      100028  0.027796
4      100038  0.158694

import sys
sys.path.insert(0, "e:/xgboost/python-package")
from xgboost import XGBClassifier
import lightgbm as lgb

#model = XGBClassifier()
#model.fit(x_train, y_train)
#print (model.score(x_train, y_train))

logit_model = XGBClassifier() #LogisticRegression()  
# Fit
#logit_model = logit_model.fit(X_train, y_train,eval_metric='roc_auc')  
# How accurate?
#print (logit_model.score(X_train, y_train))  
#0.7874

# How does it perform on the test dataset?
# Fit
logit_model = logit_model.fit(X, y,eval_metric='auc')  
# Predictions on the test dataset
predicted = pd.DataFrame(logit_model.predict(X_test))  
# Probabilities on the test dataset
probs = pd.DataFrame(logit_model.predict_proba(X_test))  
#prd[:,i] = np.round(probs,5)[:,1]
#print (metrics.accuracy_score(y_test, predicted)  )

print (probs.shape)

prd_1 = pd.DataFrame(probs)

import csv

submit = pd.concat([test['SK_ID_CURR'],prd_1],axis=1)

print (submit.columns.tolist)

submit = submit.drop(submit.columns[1], axis=1)
#probs.head()
submit.to_csv('home-default-risk_xgb.csv',index=False,quoting=csv.QUOTE_NONNUMERIC)
submit.head()

def get_best_model_and_accuracy(model, params, X, y):
    grid = GridSearchCV(model, # the model to grid search
                        params, # the parameter set to try 
                        error_score=0., scoring='roc_auc') # if a parameter set raises an error, continue and set the performance as a big, fat 0
    grid.fit(X, y) # fit the model and parameters
    # our classical metric for performance
    print ("Best Accuracy: {}".format(grid.best_score_))
    # the best parameters that caused the best accuracy
    print ("Best Parameters: {}".format(grid.best_params_))
    # the average time it took a model to fit to the data (in seconds)
    print ("Average Time to Fit (s): {}".format(round(grid.cv_results_['mean_fit_time'].mean(), 3)))
    # the average time it took a model to predict out of sample data (in seconds)
    # this metric gives us insight into how this model will perform in real-time analysis
    print ("Average Time to Score (s): {}".format(round(grid.cv_results_['mean_score_time'].mean(), 3)))

# Logistic Regression
lr_params = {'C':[1e-1, 1e0, 1e1, 1e2], 'penalty':['l1', 'l2']}

# KNN
knn_params = {'n_neighbors': [1, 3, 5, 7]}

# Decision Tree
tree_params = {'max_depth':[None, 1, 3, 5, 7]}

# Random Forest
forest_params = {'n_estimators': [10, 50, 100], 'max_depth': [None, 1, 3, 5, 7]}

lr = LogisticRegression(penalty='l1',n_jobs=-1)
knn = KNeighborsClassifier()
d_tree = DecisionTreeClassifier()
forest = RandomForestClassifier()

#get_best_model_and_accuracy(lr, lr_params, X[:3000], y[:3000])
#get_best_model_and_accuracy(knn, knn_params, X[:3000], y[:3000])
#get_best_model_and_accuracy(d_tree, tree_params, X[:3000], y[:3000])
#get_best_model_and_accuracy(forest, forest_params, X[:3000], y[:3000])
print ('Fitting...')

lr.fit(X,y)
probs = lr.predict_proba(X_test)
print ('Predicting...')

print (lr.score(X,y))

In [ ]:
prd_1 = pd.DataFrame(probs)

submit = pd.concat([test['SK_ID_CURR'],prd_1],axis=1)

print (submit.columns.tolist)

submit = submit.drop(submit.columns[1], axis=1)
#probs.head()
submit.to_csv('home-default-risk.csv',index=False,quoting=csv.QUOTE_NONNUMERIC)
submit.head()

In [ ]:
ax1 = sns.distplot(train["AMT_CREDIT"][train.TARGET==1], color='y')

In [ ]:

sns.kdeplot(train.loc[train['TARGET'] == 0, 'DAYS_BIRTH'], label = 'Repaid Loan')
sns.kdeplot(train.loc[train['TARGET'] == 1, 'DAYS_BIRTH'], label = 'Not Repaid Loan')
plt.xlabel('Age (years)')
plt.ylabel('Density')
plt.title('Distribution of Ages');